@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hi AKS-in-a-day class!</h1>
    <p>This is a .NET 7 App - it will run on Linux and Windows</p>
</div>
