@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Hi AKS-in-a-day class!</h1>
        <p class="lead">This is a .NET Framwork App - it will run only on Windows</p>
    </section>
</main>